[submodule "Carthage/Checkouts/Himotoki"]
	url = https://github.com/ikesyo/Himotoki.git
[submodule "Carthage/Checkouts/SWXMLHash"]
	url = https://github.com/drmohundro/SWXMLHash.git
[submodule "Carthage/Checkouts/xcconfigs"]
	url = https://github.com/jspahrsummers/xcconfigs.git
[submodule "Carthage/Checkouts/SourceKitten"]
	url = https://github.com/jpsim/SourceKitten.git
